.cookies-container {
  max-width: 600px;
  margin: 0 auto;
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  background-color: #f1fcdc;
  color: #65950a;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.cookies-left a {
  color: #65950a;
  text-decoration: underline;
}

.cookies-right button {
  border: 0;
  background-color: #fff;
  border: 2px solid #65950a;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 60px;
  color: #65950a;
  font-weight: bold;
  cursor: pointer;
}
